// Cadastro de Produto

.cadProd form {
    .col-md-12{
        padding: 0px;
    }
    button{
        margin-bottom: 30px;
        margin-top: 20px;
    }
}

#texto-cadProd{
    padding: 0px;
}

//Pagina do Produto

#frete{
    margin-bottom: 20px;
}